# Environment variables for the docker-compose
WEB_PORT="3000"
# PostgreSQL port in the host server
POSTGRES_PORT="5432"
SMTP_PORT="587"

# Environment variables for the Decidim Rails application
RAILS_ENV=production
SECRET_KEY_BASE="developmentSECRET_KEY_BASE"
DECIDIM_APPLICATION_NAME="Decidim Diputació Girona"
DECIDIM_DEFAULT_LOCALE=ca
DECIDIM_AVAILABLE_LOCALES="ca, en, es"
DECIDIM_ENABLE_HTML_HEADER_SNIPPETS="true"
DECIDIM_TRACK_NEWSLETTER_LINKS="true"
DECIDIM_FORCE_SSL=false
# Database configuration
# PostgreSQL port inside the Docker container
DB_PORT="5432"
DB_POOL=5
DB_HOST=localhost
DB_DATABASE="xxxxxxxxxxxxxxxxxxxx"

DB_USERNAME="xxxxxxxxxxxxxxxxxxxx"
DB_PASSWORD="xxxxxxxxxxxxxxxxxxxx"

# Mailer configuration
MAILER_SMTP_ADDRESS="smtp email address"
MAILER_SMTP_DOMAIN="smtp email domain"
MAILER_SMTP_PORT="587"
MAILER_SMTP_USER_NAME="xxxxxxxxxxxxxxxxxxxx"
MAILER_SMTP_PASSWORD="xxxxxxxxxxxxxxxxxxxx"
# GeoCoder configuration (developer.here.com)
GEOCODER_LOOKUP_APP_ID="here_app_id"
GEOCODER_LOOKUP_APP_CODE="here_app_code"
